@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../fonts/cooperhewitt-bold-webfont.eot');
    src: url('../fonts/cooperhewitt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bold-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-bold-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-bold-webfont.svg#cooper_hewittbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbold_italic';
    src: url('../fonts/cooperhewitt-bolditalic-webfont.eot');
    src: url('../fonts/cooperhewitt-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bolditalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-bolditalic-webfont.svg#cooper_hewittbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../fonts/cooperhewitt-book-webfont.eot');
    src: url('../fonts/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-book-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-book-webfont.ttf') format('truetype'),x
         url('../fonts/cooperhewitt-book-webfont.svg#cooper_hewittbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbook_italic';
    src: url('../fonts/cooperhewitt-bookitalic-webfont.eot');
    src: url('../fonts/cooperhewitt-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bookitalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-bookitalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-bookitalic-webfont.svg#cooper_hewittbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('../fonts/cooperhewitt-heavy-webfont.eot');
    src: url('../fonts/cooperhewitt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-heavy-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-heavy-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-heavy-webfont.svg#cooper_hewittheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittheavy_italic';
    src: url('../fonts/cooperhewitt-heavyitalic-webfont.eot');
    src: url('../fonts/cooperhewitt-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-heavyitalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-heavyitalic-webfont.svg#cooper_hewittheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url('../fonts/cooperhewitt-light-webfont.eot');
    src: url('../fonts/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-light-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-light-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittlight_italic';
    src: url('../fonts/cooperhewitt-lightitalic-webfont.eot');
    src: url('../fonts/cooperhewitt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-lightitalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-lightitalic-webfont.svg#cooper_hewittlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('../fonts/cooperhewitt-medium-webfont.eot');
    src: url('../fonts/cooperhewitt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-medium-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-medium-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-medium-webfont.svg#cooper_hewittmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittmedium_italic';
    src: url('../fonts/cooperhewitt-mediumitalic-webfont.eot');
    src: url('../fonts/cooperhewitt-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-mediumitalic-webfont.svg#cooper_hewittmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../fonts/cooperhewitt-semibold-webfont.eot');
    src: url('../fonts/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-semibold-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittsemibold_italic';
    src: url('../fonts/cooperhewitt-semibolditalic-webfont.eot');
    src: url('../fonts/cooperhewitt-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-semibolditalic-webfont.svg#cooper_hewittsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittthin';
    src: url('../fonts/cooperhewitt-thin-webfont.eot');
    src: url('../fonts/cooperhewitt-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-thin-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-thin-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-thin-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-thin-webfont.svg#cooper_hewittthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittthin_italic';
    src: url('../fonts/cooperhewitt-thinitalic-webfont.eot');
    src: url('../fonts/cooperhewitt-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-thinitalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-thinitalic-webfont.svg#cooper_hewittthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikblack';
    src: url('../fonts/rubik-black-webfont.eot');
    src: url('../fonts/rubik-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-black-webfont.woff2') format('woff2'),
         url('../fonts/rubik-black-webfont.woff') format('woff'),
         url('../fonts/rubik-black-webfont.ttf') format('truetype'),
         url('../fonts/rubik-black-webfont.svg#rubikblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikblack_italic';
    src: url('../fonts/rubik-blackitalic-webfont.eot');
    src: url('../fonts/rubik-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-blackitalic-webfont.woff') format('woff'),
         url('../fonts/rubik-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-blackitalic-webfont.svg#rubikblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbold';
    src: url('../fonts/rubik-bold-webfont.eot');
    src: url('../fonts/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-bold-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bold-webfont.woff') format('woff'),
         url('../fonts/rubik-bold-webfont.ttf') format('truetype'),
         url('../fonts/rubik-bold-webfont.svg#rubikbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbold_italic';
    src: url('../fonts/rubik-bolditalic-webfont.eot');
    src: url('../fonts/rubik-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bolditalic-webfont.woff') format('woff'),
         url('../fonts/rubik-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-bolditalic-webfont.svg#rubikbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikitalic';
    src: url('../fonts/rubik-italic-webfont.eot');
    src: url('../fonts/rubik-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-italic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-italic-webfont.woff') format('woff'),
         url('../fonts/rubik-italic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-italic-webfont.svg#rubikitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-light-webfont.eot');
    src: url('../fonts/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-light-webfont.woff2') format('woff2'),
         url('../fonts/rubik-light-webfont.woff') format('woff'),
         url('../fonts/rubik-light-webfont.ttf') format('truetype'),
         url('../fonts/rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubiklight_italic';
    src: url('../fonts/rubik-lightitalic-webfont.eot');
    src: url('../fonts/rubik-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-lightitalic-webfont.woff') format('woff'),
         url('../fonts/rubik-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-lightitalic-webfont.svg#rubiklight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikmedium';
    src: url('../fonts/rubik-medium-webfont.eot');
    src: url('../fonts/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
         url('../fonts/rubik-medium-webfont.woff') format('woff'),
         url('../fonts/rubik-medium-webfont.ttf') format('truetype'),
         url('../fonts/rubik-medium-webfont.svg#rubikmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikmedium_italic';
    src: url('../fonts/rubik-mediumitalic-webfont.eot');
    src: url('../fonts/rubik-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/rubik-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-mediumitalic-webfont.svg#rubikmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikregular';
    src: url('../fonts/rubik-regular-webfont.eot');
    src: url('../fonts/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('../fonts/rubik-regular-webfont.woff') format('woff'),
         url('../fonts/rubik-regular-webfont.ttf') format('truetype'),
         url('../fonts/rubik-regular-webfont.svg#rubikregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inherit;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrowup:before{content:'\0041';}
.icon-award:before{content:'\0042';}
.icon-carretdown:before{content:'\0044';}
.icon-carretleft:before{content:'\0045';}
.icon-carretright:before{content:'\0046';}
.icon-close:before{content:'\0047';}
.icon-commentplus:before{content:'\0048';}
.icon-flag:before{content:'\0049';}
.icon-search:before{content:'\004a';}
.icon-star:before{content:'\004b';}
.icon-starempty:before{content:'\004c';}
.icon-staremptyhalf:before{content:'\004d';}
.icon-starhalf:before{content:'\004e';}
.icon-thumbsdown:before{content:'\004f';}
.icon-thumbsup:before{content:'\0050';}
.icon-trending:before{content:'\0051';}
.icon-user:before{content:'\0052';}




@font-face {
  font-family: 'award';
  src:  url('../fonts/award.eot?fw96mm');
  src:  url('../fonts/award.eot?fw96mm#iefix') format('embedded-opentype'),
    url('../fonts/award.ttf?fw96mm') format('truetype'),
    url('../fonts/award.woff?fw96mm') format('woff'),
    url('../fonts/award.svg?fw96mm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="award-"], [class*=" award-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'award' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.award-award-fill:before {
  content: "\e992";
}
.award-award:before {
  content: "\e991";
}

